<div class="container">
  <div class="row">
    

      <div align="center" class=" col-md-4">
          <h1 class="info">Weddings</h1>
            <img  src="../assets/weddingFrontPage1.jpg" style="max-width:100%; height: auto;">
          </div>
        <div align="center" class=" col-md-4">
          <h1 class="info">Couples</h1>
            <img src="../assets/couplesFrontPage1.jpg" style="max-width:100%; height: auto;" >
          </div>
        <div align="center" class=" col-md-4">
          <h1 class="info">Professional</h1>
    
           <img src="../assets/professionalFrontPage1.jpg" style="max-width:100%; height: auto;" >
      </div>


  </div>
</div>