<div class="container">
  <br>
  <br>
  <div class="row">

    <div align="center" class=" col-md-4">
      <br>
      <br>
      <br>
      <div class="well  well-lg">
        <img src="../assets/weddingFrontPage1.jpg" style="max-width:15em; height: auto;">
      </div>
      <h3 class="info">About Nicole</h3>

    </div>
    <div align="center" class=" col-md-4">
      <br>
      <br>
      <br>
      <div class="well  well-lg">
        <img src="../assets/couplesFrontPage1.jpg" style="max-width:15em; height: auto;">
      </div>
      <h3 class="info">Pricing</h3>
    </div>
    <div align="center" class=" col-md-4">
      <br>
      <br>
      <br>
      <div class="well">
        <img src="../assets/professionalFrontPage1.jpg" style="max-width:15em; height: auto;">
      </div>
      <h3 class="info">Portfolio</h3>
    </div>


  </div>
</div>