<a id="About"></a>
<div class="container">
  <br>
  <hr>
  <h1>Hello There</h1>
  <div class="row">
    <div class="col-md-6">

      <img src="../assets/about-headshot.jpg" alt="About Me Headshot">
    </div>
    <div class="col-md-6">
        <p>Life’s big moments are not about the photos, they are about YOU. I go beyond the photos to make the session an experience.
            For couples, the sessions are an opportunity for open communication with your partner and a time for reflection on
            the past, present and future of your relationship. We start in a pose that will flatter you in photos, then I ask
            the bigger questions. What do you love most about your partner? When was the first time you said ‘I love you’ to
            your partner? What do you most look forward to in your relationship? And don’t worry, I’m not spying on your answers.
            I merely photograph your private moment together. Rest assured that we’ll have fun too! Dancing, silly photos, and
            laughing til our tummies hurt are all part of the day as well. If you are an easy going couple that wants to grow
            in your relationship and have a fun time doing it, I’m just the photographer for you.</p>
        </div>
    </div>
      
  </div>
