.body{
    height: 30em; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;        
  }

  .letters{
    font-size: 75px; 
    position: relative;
    padding-top: 20%;
     color: #FFFFFF;
     text-align: center;
     font-family: Rosarivo,Arial,Helvetica,sans-serif; 
  }


