   <app-nav-bar></app-nav-bar>
    <div class="container">
        <h1>Portfolio</h1>
      <button  (click)="displayWedding()">Weddings</button>
      <button  (click)="displayCouple()">Couple</button>
<!-- Weddings Section -->
<div class="row" *ngFor="let url of weddingUrls; let i = index; " >
    <div *ngIf="i%3==0" >
    <div class="col-md-4">
      <div >        
        <img [@photoAnimation]='stateWed' (click)="enlarge($event.currentTarget)" class="well" style = "width: 100%" src="../assets/{{weddingUrls[i]}}" alt="About Me Headshot">
      </div>
    </div>
  <div class="col-md-4" *ngIf="i+1<weddingUrls.length">
    <div >        
      <img [@photoAnimation]='stateWed' (click)="enlarge($event.currentTarget)" class="well" style = "width: 100%" src="../assets/{{weddingUrls[i+1]}}" alt="About Me Headshot">
    </div>
  </div>
<div class="col-md-4" *ngIf="i+2<weddingUrls.length" >
  <div >        
    <img [@photoAnimation]='stateWed' (click)="enlarge($event.currentTarget)" class="well" style = "width: 100%" src="../assets/{{weddingUrls[i+2]}}" alt="About Me Headshot">
  </div>
</div>
</div>
</div>
<!-- Couples Section -->
      <div class="row" *ngFor="let url of coupleUrls; let i = index; " >
        <div *ngIf="i%3==0" >
        <div class="col-md-4">
          <div >        
            <img [@photoAnimation]='stateCouple' (click)="enlarge($event.currentTarget)" class="well" style = "width: 100%" src="../assets/{{coupleUrls[i]}}" alt="About Me Headshot">
          </div>
        </div>
      <div class="col-md-4" *ngIf="i+1<coupleUrls.length">
        <div >        
          <img [@photoAnimation]='stateCouple' (click)="enlarge($event.currentTarget)" class="well" style = "width: 100%" src="../assets/{{coupleUrls[i+1]}}" alt="About Me Headshot">
        </div>
      </div>
    <div class="col-md-4" *ngIf="i+2<coupleUrls.length" >
      <div >        
        <img [@photoAnimation]='stateCouple' (click)="enlarge($event.currentTarget)" class="well" style = "width: 100%" src="../assets/{{coupleUrls[i+2]}}" alt="About Me Headshot">
      </div>
    </div>
  </div>
  </div>
      <!-- The Modal -->
      <div id="myModal" class="modal">
        <img class="modal-content" id="img01">
      </div>
      
       
      