<div class="container">
  <br>
  <br>
  <h3 align="center">Portfolio</h3>
  <div class="row">
    <div align="center" class=" col-md-4">
      <br>
      <br>
      <br>
      <div class="well portfolio-weddings">
        <h3 class="portfolio-weddings">Weddings</h3>
      </div>
    </div>
    <div align="center" class=" col-md-4">
      <br>
      <br>
      <br>
      <div class="well">
        <h3 class="info">Engagements</h3>
      </div>
    </div>
    <div align="center" class=" col-md-4">
      <br>
      <br>
      <br>
      <div class="well">
        <h3 class="info">Couples</h3>
      </div>
    </div>
  </div>
</div>