<div class="container">
    <div class="row">
      <h1>Testimonials</h1>
      <div class="col-md-6">
          <div class="panel panel-default">              
          <blockquote id="testimonial">Nicole was incredible to work with. We worked with her first for our engagement photos and liked them so much that we asked her to do our wedding photos. She was willing to meet with us multiple times and made sure that our vision was incorporated into the entire process. She allowed us to make our own timeline for the day and have total control in how the day went. She even came to the hotel for some get ready shots before the wedding, and stayed all the way through the reception and dance. She was incredible when the day went completely differently than planned, and it rained all day long. She was so helpful in getting all the pictures we wanted. We received over 400 digital prints from her, and they were all amazing. I would highly recommend her for any photography needs.
        </blockquote>  
        </div>
      </div>
    </div>
  </div>



  